
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: linear-gradient(100deg, #00d0ff, #0491c0);
    color: white;
}

form{
    margin: 1em auto;
    height: 5vh;
    width: 20vw;
}


header{
    margin: .5em auto;
    height: 8vh;
}

header h1{
    font-size: 1.5rem;
    padding-top: 1rem;
}

header,
form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

   
    
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo-input{
    width: 100vh;
}

.todo-item{
    list-style-type: none;
    color: grey;
}

.todo-list{
    padding: 0;
    min-width: 30%;
}

.todo-button{
    width: 35px;
}

.todo li{
    flex: 1;
}


.todo{
    height: 2rem;
    transition: 0.5s ease all;
    margin: 0.4rem;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* animation */
.fall{
    transform: translateY(1rem) rotateZ(10deg);
    opacity: 0;
}

.strike{
    text-decoration: line-through;
}

.fa-trash, 
.fa-check{
    pointer-events: none;
}

.completed-button,
.delete-button{
    background: none;
    border: none;
    width: 25px;
    color: #0491c0;
}

